.popup__container {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 430px;
  transition: 0.1s;
}

@media screen and (max-width: 700px) {
  .popup__container {
    width: 282px;
  }
}
