.profile__add-button {
  margin: 0 0 51px 0;
  background-color: #000;
  border: 2px #fff solid;
  border-radius: 2px;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  align-self: center;
  background-image: url("../../../images/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  transition: 0.1s;
  box-sizing: border-box;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile__add-button {
    margin: 36px 0;
    width: 282px;
    background-size: 17px 17px;
  }
}
