/* модификатор на случай, если формы будут отличаться по размерам и типу */
.popup__container_form_edit {
  width: 430px;
  transition: 0.1s;
}

@media screen and (max-width: 700px) {
  .popup__container_form_edit {
    width: 282px;
  }
}
